.header {
  background-color: #38b6ff;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}
.logo {
  max-width: 5% !important;
  max-height: auto;
  left: 0;
}
@media (max-width: 598px) {
  .logo {
    max-width: 16% !important;
    max-height: auto;
    left: 0;
  }
}

.ba-spacer {
  flex: 1 1 auto;
}
