<mat-toolbar class="header">
  <img src="assets/images/BetterAnalytics_250X250.png" class="logo" />
  <span class="ba-spacer"></span>
  <span class="ba-text-white ba-small mr-2">About us</span>
  <span class="ba-text-white ba-small mr-2">Contact us</span>
  <span class="ba-text-white ba-small mr-2">Our mission</span>
</mat-toolbar>
