<div>
  <div
    class="container-fluid cam"
    [style.height.vmin]="100"
    [style.backgroundSize]="'cover'"
  >
    <div
      class="ba-display-left ba-padding col-xs-12 col-sm-8 col-md-6 col-lg-6"
    >
      <div
        class="
          ba-black
          ba-opacity
          ba-hover-opacity-off
          ba-padding-large
          ba-round-large
        "
      >
        <h1 class="ba-xlarge">
          We make everything <strong class="signature_font">Better</strong> with
          our
          <strong class="signature_font">Analytics</strong>
        </h1>
        <hr class="ba-opacity" />
        <p>
          We will make sure that you will be getting better products and
          enjoying quality services with every bit of our analysis. Our products
          will come with the right combination of power of data and consumer
          preferances.
        </p>
        <!--  <p>
          <button
            class="ba-button ba-block ba-blue ba-round"
            routerLink="/contact-us"
          >
            Know more
          </button>
        </p> -->
      </div>
    </div>
  </div>
</div>
<div class="contrast pb-5">
  <div class="rn-flex-container">
    <div class="rn-flex-item rn-flex-padding">
      <img class="image-main" src="assets/images/data-points.svg" />
    </div>
    <div class="rn-flex-item rn-flex-padding">
      <h2>We are here to revolutionize the way you look at the world</h2>
      <p>
        Every year billions of companies across the world are offering their
        products and services to 7.9 billion people across the globe. While most
        of the customers are enjoying those on the flip side some are suffering
        because of the choice they made.We are here to make sure every product
        and service in this universe will be good enough to suite your need. Our
        products and platforms will run on advanced algorithms to help companies
        and businesses to offer even more
        <strong class="signature_font">Better</strong>
      </p>
      <hr />
    </div>
  </div>
  <div class="rn-flex-container mb-4">
    <div class="rn-flex-item rn-flex-padding">
      <h2>
        We promise you that we will take every measure to make this world a
        <strong class="signature_font">Better</strong> place.
      </h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Year Column -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let element">{{ element.year }}</td>
        </ng-container>

        <!-- Emissions Column -->
        <ng-container matColumnDef="emissions">
          <th mat-header-cell *matHeaderCellDef>Total emissions</th>
          <td mat-cell *matCellDef="let element">{{ element.emissions }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <small
        >* All the data is in billion metric tons through out the world</small
      >
      <p><small>** source wikipedia.org</small></p>
    </div>
    <div class="rn-flex-item rn-flex-padding">
      <img class="image-main" src="assets/images/taking-care.svg" />
    </div>
  </div>
</div>
