<div class="ba-container ba-footer ba-padding wrapper">
  <!-- <button mat-button class="ba-white ba-margin ba-center">
      <i class="fab fa-google-play ba-margin ba-large"></i> Download android app
    </button>
    <button mat-button class="ba-white ba-margin ba-center">
      <i class="fab fa-app-store-ios ba-margin ba-large"></i> Download ios app
    </button> -->

  <div class="row ba-margin">
    <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6">
      <p><u>Policies and help</u> :</p>
      <p><a href="javascript:void(0)">Terms and conditions</a></p>
      <p><a href="javascript:void(0)">Privacy</a></p>
      <!-- <p><a href="javascript:void(0)">FAQS</a></p> -->
      <p><a href="javascript:void(0)">Careers</a></p>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6">
      <p><u>About</u> :</p>
      <p><a href="javascript:void(0)" routerLink="/who-we-are">About us</a></p>
      <p>
        <a href="javascript:void(0)" routerLink="/contact-us">Contact us</a>
      </p>
      <p>
        <a href="javascript:void(0)"
          ><span class="signature_font">Better Analytics</span> for clients</a
        >
      </p>
      <p><a href="javascript:void(0)">Mission</a></p>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-6 col-sm-6">
      <p><u>Follow us</u> :</p>
      <p>
        <a href="https://www.facebook.com/betteranalytics" target="_blank">
          <i class="fab fa-facebook-square ba-margin-right"></i> Facebook
        </a>
      </p>
      <p>
        <a href="https://twitter.com/AnalyticsBetter" target="_blank">
          <i class="fab fa-twitter ba-margin-right"></i> Twitter
        </a>
      </p>
      <p>
        <a href="https://www.instagram.com/betteranalytics/" target="_blank">
          <i class="fab fa-instagram ba-margin-right"></i> Instagram
        </a>
      </p>
      <p>
        <a href="javascript:void(0)">
          <i class="fab fa-youtube ba-margin-right"></i> Youtube
        </a>
      </p>
    </div>
  </div>
  <p class="footer ba-center">
    <span> All Right Reserved by &copy;{{ year }}</span>
    <img
      src="assets/images/BetterAnalytics_250X250_T.png"
      style="width: 50px"
    />
    betteranalytics.in
  </p>
</div>
