/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.brand-background {
  background-color: #38b6ff;
  color: #fff;
}
.contrast {
  background-color: #f0f0f0;
}

.rn-flex-container {
  display: flex;
  flex-direction: row-reverse;
}

.rn-flex-item {
  flex: 50%;
}
.rn-flex-padding {
  padding: 32px 5%;
  padding-bottom: 0px !important;
}
@media (max-width: 800px) {
  .rn-flex-container {
    flex-direction: column;
    padding: 5%;
  }
}

.image-main {
  width: 100%;
  height: auto;
}
.vh-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

@font-face {
  font-family: leagueSpartan;
  src: url(assets/fonts/LeagueSpartan-Bold.otf);
}
.signature_font {
  font-family: leagueSpartan;
}
